*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.user-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn{
  margin-top: 10px;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-delete {
  border-color: #f44336;
  color: red
}

.btn-delete:hover{
  background: #f44336;
  color: white;
}

.btn-add{
  border-color: #04AA6D;
  color: green;
}

.btn-add:hover{
  background-color: #04AA6D;
  color: white;
}